.actor-details {
  margin-left: 1rem;
}

.actor-details {
  padding: 5px;
  margin-left: 10px;
  width: 90%;
  max-width: 320px;
  background-color: var(--white);
  color: var(--dark-red);
  border: solid 2px var(--grey);
  border-radius: 10px;
}

.actor-details-film {
  text-align: center;
}
