:root {
  --background: #141214;
  --dark-red: #660708;
  --red: #ba181b;
  --grey: #b1a7a6;
  --white: #f5f3f4;
}

#root {
  height: 80vh;
  width: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--grey);
}

body {
  box-sizing: border-box;
  margin: 0;
}
