:root {
  --dark: #141214;
  --dark-red: #660708;
  --red: #ba181b;
  --grey: #b1a7a6;
  --white: #f5f3f4;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--dark);
  color: var(--grey);
  overflow: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
}
